<div class="container">
  <h2>Create New Device</h2>

  <form class="form-group" (ngSubmit)="createDevice()" >
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" class="form-control" [(ngModel)]="device.name" required>
    </div>

    <div class="form-group">
      <label for="manufacturer">Manufacturer:</label>
      <input type="text" id="manufacturer" name="manufacturer" class="form-control" [(ngModel)]="device.manufacturer" required>
    </div>

    <div class="form-group">
      <label for="type">Type:</label>
      <input type="text" id="type" name="type" class="form-control" [(ngModel)]="device.type" required>
    </div>

    <div class="form-group">
      <label for="operatingSystem">Operating System:</label>
      <input type="text" id="operatingSystem" name="operatingSystem" class="form-control" [(ngModel)]="device.operatingSystem" required>
    </div>

    <div class="form-group">
      <label for="osVersion">OS Version:</label>
      <input type="text" id="osVersion" name="osVersion" class="form-control" [(ngModel)]="device.osVersion" required>
    </div>

    <div class="form-group">
      <label for="processor">Processor:</label>
      <input type="text" id="processor" name="processor" class="form-control" [(ngModel)]="device.processor" required>
    </div>

    <div class="form-group">
      <label for="ramAmount">RAM Amount:</label>
      <input type="number" id="ramAmount" name="ramAmount" class="form-control" [(ngModel)]="device.ramAmount" required>
    </div>

    <button type="submit" class="btn btn-primary">Create Device </button>
    
  </form>
</div>
<router-outlet></router-outlet>
